body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-old-standard-tt: "Old Standard TT";
  --font-roboto: Roboto;
  --font-nunito: Nunito;
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-gray-100: #212121;
  --color-darkslategray: #303030;
  --color-limegreen: #55c02e;
  --color-white: #fff;

  /* Gaps */
  --gap-70xl: 89px;
  --gap-86xl: 105px;
  --gap-xl: 20px;
  --gap-43xl: 62px;
  --gap-31xl: 50px;

  /* Paddings */
  --padding-29xl: 48px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-10xl: 29px;
  --padding-13xl: 32px;
  --padding-12xl: 31px;
  --padding-117xl: 136px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-3xs: 10px;
}
